<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookout Milkshake App</title>
</head>
<body>
    <h1>Cookout Milkshake Tracker</h1>

    <form action="/flavors" method="POST">
        <input type="text" placeholder="flavor" name="flavor">
        <input type="text" placeholder="rating" name="rating">
        <button type="submit">Submit</button>
    </form>

    <h2>Flavors</h2>

    <ul class="flavors"
        <% for(let i = 0; i <= flavors.length; i++){%>
        <li class="flavor">
            <span><%= flavors[i].flavor %></span>
            <span><%= flavors[i].rating %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>