<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookout Milkshake App</title>
</head>
<body>
    <h1>Cookout Milkshake Tracker</h1>

    <form action="/flavors" method="POST">
        <input type="text" placeholder="flavor" name="flavor">
        <input type="text" placeholder="rating" name="rating">
        <button type="submit">Submit</button>
    </form>

    <h2>Flavors</h2>

    <ul class="flavors">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < flavors.length; i++) {%>
        <li class="flavor">
          <!-- Output name from the iterated quote object -->
          <span><%= flavors[i].flavor %></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= flavors[i].rating %></span>
        </li>
        <% } %>
      </ul>

      <div>
        <h2>This is Wal-NUTS!</h2>
        <p>Replace Walnut with "You have to be NUTS to order Walnuts!</p>
        <button id="update-button">Click if you went walNUTS!</button>
      </div>
    
    <script src="/main.js"></script>
</body>
</html>